<b>Dear {{full_name}},</b> <br>
<br>
We want to thank you and your team on joining the Hult Prize at IOE 2021/22 once more. The Hult Prize at IOE team will always be with you, keeping a careful eye on your success as you prove yourself on higher platforms.
<br>
A digital certificate for your accomplishments is included below. I wish you all the best in your future endeavors.
<br>
<a href='{{url}}' >Digital Certificate.pdf</a>
<br><br>
<b> Best regards, <br>
Saurav Adhikari<br>
Marketing Director<br>
Hult Prize at IOE 2021/22<br> </b>